{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "no-console": "warn",
    "no-unused-vars": "warn",
    "no-empty": "warn",
    "indent": [
      "error",
      2
    ],
    "space-in-parens": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "no-multi-spaces": "error",
    "comma-spacing": "error"
  }
}