{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "rules": {
        "semi": ["error", "never"],
        "no-console": "warn",
        "no-unused-vars": "warn",
        "no-empty": "warn"
    }
}